.post {
  max-width: 850px;
  margin: 0 auto 2rem;
}
.post-title {
  margin: 0 0 1rem;
}
.post-user-info {
  display: flex;
  align-items: center;
  margin: 0 0 0.8rem;
  font-size: 0.9rem;
}
.post-user-info img {
  border-radius: 50%;
  margin-right: 0.5rem;
}
.post-image {
  width: 100%;
  margin: 0 0 0.8rem;
}
.post-ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem;
  font-size: 1.3rem;
}
.post-ui .post-ui-right {
  font-size: 1.5rem;
}
.post-ui .votes,
.post-ui .fav {
  margin-right: 0.5rem;
}
@media screen and (min-width: 720px) {
  .post h3 {
    font-size: 2rem;
  }
}
