.login {
  min-height: calc(100vh - 200px - 4rem);
}
.login .back svg {
  font-size: 4rem;
  margin: 1rem 2rem 0;
  cursor: pointer;
}
.login .back svg:hover {
  color: var(--pink);
}
.login .logo {
  width: 80%;
  margin: 2rem auto 3rem;
  max-width: 600px;
}
.login form {
  width: 100%;
  max-width: 550px;
  margin: 4rem auto;
}
.login input {
  display: block;
  width: 100%;
  min-height: 50px;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  padding-left: 0.6rem;
  border: 2px var(--light-grey) solid;
  background-color: var(--white);
}
div.password {
  position: relative;
}
div.password .forget {
  position: absolute;
  top: 0%;
  right: 0%;
  min-height: 50px;
  border-radius: 0;
}
div.password svg {
  position: absolute;
  top: 18%;
  right: 110px;
  font-size: 2rem;
  color: var(--darkest-grey);
}
.login-ui {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.register-question:hover {
  color: var(--gold);
}
.login-button {
  min-height: 50px;
}
