header {
  background-color: var(--darkest-grey);
}
.navbar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.header-logo {
  width: 50%;
  max-width: 300px;
  min-width: 150px;
  margin: 1rem 0 0.8rem;
}
.user-button {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  cursor: pointer;
  position: relative;
}
.user-button a {
  font-weight: inherit;
}
.user-button .dropdown-menu {
  list-style: none;
  top: 210%;
  right: -50%;
}
.user-button .dropdown-triangle {
  bottom: 100%;
  left: 78%;
}
.user-button li {
  position: relative;
  z-index: 10;
  background-color: var(--darkest-grey);
  border-radius: 8px;
}
.user-button li a,
.user-button li span {
  padding: 1.2rem 2rem;
  display: block;
}
.user-button li:hover {
  filter: brightness(1.2);
}
.user-button img {
  width: 30px;
  border-radius: 50%;
}
.username {
  font-weight: 600;
}
.username:hover,
.user-button:hover svg {
  color: var(--pink);
}
.user-button .dropdown-menu.menu-active {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 500px) {
  .user-button .dropdown-menu {
    top: 250%;
  }
  @media screen and (min-width: 720px) {
    .user-button .dropdown-menu {
      right: 0%;
    }
  }
}
