.p-info {
  margin: 2rem auto 1rem;
  text-align: center;
  padding: 2rem 1rem;
  border-bottom: 3px solid var(--gold);
  max-width: 700px;
}
.edit-username,
.edit-bio {
  display: block;
  margin: 1rem auto;
  background-color: transparent;
  font-family: var(--font-stack);
  border: none;
  max-width: 400px;
  width: 100%;
}
.edit-username:focus {
  outline: none;
}
.p-info img {
  max-width: 200px;
  border-radius: 50%;
  margin-top: 1rem;
}
.p-info img.is-own:hover {
  opacity: 0.2;
  cursor: pointer;
}
.img {
  position: relative;
}
.img span {
  position: absolute;
  top: 45%;
  left: 49%;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: -1;
}
h2.profile-username {
  margin: 1rem 2rem;
  display: inline-block;
}
p.bio {
  max-width: 400px;
  width: 100%;
  text-align: left;
  margin: 0 auto 1rem;
}
.edit {
  color: var(--light-grey);
  font-size: 1.2rem;
  cursor: pointer;
}
.edit:hover {
  color: var(--gold);
}
.edit-username {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  max-width: 400px;
  color: var(--white);
  font-weight: 600;
  border-bottom: 2px solid var(--white);
}
.edit-bio {
  color: var(--light-grey);
  font-size: 1rem;
  line-height: 1.5;
  border: 2px solid var(--white);
  padding: 1rem;
}
.stats {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 1rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.member-since {
  margin-top: 1rem;
}
.profile-buttons {
  padding: 1rem;
}
.profile-buttons button {
  margin: 1rem auto;
}
.profile .save {
  min-width: 93px;
}
.cancel {
  text-decoration: underline;
  cursor: pointer;
}
.user-posts {
  display: flex;
  flex-wrap: wrap;
}
.user-posts .post {
  min-width: 340px;
  max-width: 500px;
}
.user-posts .post h3 {
  font-size: 1.5rem;
}
.user-posts h2 {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}
input[type="file"] {
  display: none;
}
