.no-mobile {
  display: none;
}
.card {
  background-color: var(--grey);
  padding: 2rem 1rem;
  border-radius: 2%;
}
.error {
  font-weight: 600;
  color: rgb(255, 75, 75);
}
.input-error {
  border: 2px rgb(255, 75, 75) solid !important;
}
.gold {
  color: var(--gold);
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.login h1,
.login h2 {
  text-align: center;
}
@media screen and (min-width: 720px) {
  .no-mobile {
    display: initial;
  }
  .card {
    padding: 2rem;
  }
}
