.homepage-ui {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.single-post {
  padding: 2rem 0;
  max-width: 850px;
  margin: 0 auto;
}
.single-post .post .card {
  background-color: transparent;
}
.single-post h2 {
  margin-bottom: 2rem;
}
.post-list {
  /* 100vh - (footer hight + margin + padding top)  */
  min-height: calc(100vh - 440px);
}
.no-posts {
  text-align: center;
  padding: 20vh 1rem 0;
}
.login h1,
.login h2 {
  text-align: center;
}
